# Enforce LF for Python files
*.py text eol=lf

# Enforce LF for all text files
* text=auto

# Windows-specific scripts
*.bat text eol=crlf
*.cmd text eol=crlf

# Shell scripts
*.sh text eol=lf

# JSON files
*.json text eol=lf